<section class="favorites">
  <div class="container">

    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Looking for something delicious?</p>
    <p class="favorites-desk">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <ul class="favorites-list">
      <li class="favorites-item">
        <img src="./img/gamburger.png" alt="gamburger" width="315" height="315" />
      </li>
      <li class="favorites-item">
        <img src="./img/Pasta.png" alt="Pasta" width="315" height="315" />
      </li>
      <li class="favorites-item ">
        <img src="./img/pizza.png" alt="pizza" width="315" height="315" />
      </li>
      <li class="favorites-item favorites-items-none">
        <img src="./img/chicken.png" alt="chicken" width="315" height="315" />
      </li>
      <li class="favorites-item favorites-items-none">
        <img src="./img/salat.png" alt="salat" width="315" height="315" />
      </li>
      <li class="favorites-item favorites-items-none">
        <img src="./img/borshch.png" alt="borshch" width="315" height="315" />
      </li>
    </ul>
  </div>
</section>