<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-nav-wrap">
        <a class="logo-footer" href="./index.html"
          ><img src="./img/logo.png" alt="logo" width="66" height="52"
        /></a>
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">About</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">Service</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">Menu</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="/">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer-form-wrap">
        <strong class="footer-subscribe">Subscribe</strong>
        <form class="footer-subscribe-form">
          <input
            class="subscribe-input"
            type="email"
            placeholder="Enter your email"
          />
          <button class="footer-sub-btn" type="submit">Subscribe</button>
        </form>
        <p class="footer-text">
          By subscribing you agree to with our
          <a class="footer-item-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-privacy-wrap">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-item-link" href="">Privacy Policy</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-item-link" href="">Terms of Service</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-item-link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
