<section class=" hero">
    <div class="container hero-container">
      <div class="hero-blok ">
        <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-text">
          With just a few clicks, you can have your favorite meals delivered
          straight to your doorstep, no matter where you are. Order now and
          enjoy a hassle-free and delicious meal from the comfort of your own
          home.
        </p>
        <button class="hero-btn" type="button">Order Now</button>
      </div>
      <img class="hero-img" src="./img/hero.png" alt="salat" width="528" height="528" />
    </div>
  </section>